/* &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,regular,500,600,700,800,900&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic&display=swap&subset=cyrillic-ext");

@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("../fonts/Rubik-LightItalic.woff2") format("woff2"), url("../fonts/Rubik-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html {
	font-size: 16px;
}
body {
	line-height: 1;
}
/* ------------------------------ */

/* Общее */
.text {
	color: rgb(4, 89, 110);
	font-size: 20px;
}
/* ................................................... */

/* заголовки */
.title {
	font-size: 30px;
	text-decoration: line-through;
	font-weight: 900;
	line-height: 200%;
	text-align: center;
}
/* ................................................... */

/* Шапка */
.header {
	font-family: "Roboto Slab", serif;
}
h1 {
	font-size: 40px;
	color: rgb(102, 102, 194);
	font-style: oblique;
	font-weight: 700;
	text-shadow: 5px 1px 1px #000;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	line-height: 150%;
}
.pic {
	text-align: center;
	line-height: 150%;
}
.menu .navigation {
	font-size: 20px;
	color: rgb(102, 102, 194);
	text-align: right;
	text-decoration: overline;
	font-weight: 700;
	margin-bottom: 10px;
}
.menu .navi {
	text-align: right;
	text-decoration: underline;
	line-height: 150%;
}
/* ............................................ */

/* Контент */
/* 1часть */
.content {
	font-family: "Playfair Display", serif;
	font-style: normal;
	text-align: center;
}
.contentone .title {
	color: rgb(238, 130, 238);
}
.contentone .cntone {
	font-size: 15px;
	font-style: italic;
	color: rgba(255, 0, 0, 0.705);
}
.cntone .text {
	font-size: 20px;
	font-style: normal;
}

/* 2 часть */
.contenttwo .title {
	color: rgb(0, 0, 128);
}
.contenttwo .cnttwo {
	font-size: 15px;
	font-style: italic;
	color: rgb(255, 69, 0);
}

/* 3 часть */
.contentthree .title {
	color: rgb(187, 184, 14);
}
.contentthree .cntthree {
	color: rgb(0, 255, 0);
	font-style: italic;
	font-size: 15px;
}
.cntthree .text {
	font-style: normal;
}

/* 4 часть */

.cntfour {
	color: rgb(121, 121, 121);
}
.contentfour .title {
	color: rgb(219, 20, 60);
}

/* 5 часть */
.contentfive {
	font-family: "Rubik", sans-serif;
	font-style: italic;
	color: rgb(160, 96, 12);
}
.contentfivediv span {
	color: #666633;
	font-family: Roboto Slab, serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
}

/* подвал */
.img {
	white-space: nowrap;
}
.footer .title {
	font-size: 40px;
	color: rgb(102, 102, 194);
	font-style: oblique;
	font-weight: 700;
	text-shadow: 5px 1px 1px #000;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	line-height: 150%;
	letter-spacing: 10px;
}
.link {
	font-family: "Rubik", sans-serif;
	font-size: 30px;
	text-align: right;
	font-weight: 700;
	text-decoration: underline;
}
.upcollor {
	font-family: "Rubik", sans-serif;
	font-size: 30px;
	text-align: center;
	font-weight: 900;
	text-decoration: underline;
	letter-spacing: 5px;
}
